body {
    margin: 0;
    font-family: 'Readex Pro', sans-serif;
    color: #9D9D9D;
    background-color: #F8F0DF;
} 
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.section1 {
    background-color: #F8F0DF;
}

.section2 {
    background-color: #79B4B7;
}

.tiltTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.tiltTop svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 111px;
}

.tiltTop .shape-fill {
    fill: #79B4B7;
}

.pointLeft {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.pointLeft svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 49px;
    transform: rotateY(180deg);
}

.pointLeft .shape-fill {
    fill: #F8F0DF;
}



.blob-motion {
    position: absolute;
    transform: translateY(-20%);
    z-index: 0;
  }

  .blob-content {
    z-index: 1;
  }

  .blobs {
    width: 100%;
    background: url('./blobs.svg') no-repeat bottom / cover;
  }

  .pink {
    background: #F8F0DF;
    overflow: hidden;
  }